@import "/src/styles/variables.scss";

.home{
    font-family: $font;
    .search-bar{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 40px;
      
        .search-bar-border{
            display: flex;
            align-items: center;
            border: 1px solid rgba(66, 66, 66, 0.342);
            border-radius: 5px;
            height: 36px;
            width: 600px;
            
            input{
                border: none;
                width: 560px;
                font-size: 24px;
                padding-left: 10px;
            }
            input:focus{
                outline: none;
            }
            span{
                font-size: 24px;
            }
            span:hover{
                cursor: pointer;
            }
        }
    }
    .filters{
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 4vh;
        padding-top: 40px;
        button{
            font-family: $font;
            border: 0 solid white;
            background-color: $main-color;
            color:white;
            transition: all 0.2s;
            height: 40px;
            width: 100px;
        }
        button:hover{
            cursor: pointer;
            transition: all 0.2s;
            opacity: 90%;
        }
    }
    
    .card{
        padding-block: 2vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 2vh;

        .name{
            font-weight: 700;
            font-size: large;
            text-transform: capitalize;
        }

        .photo {
            img{
                height: 158px;
                width: 120px;
            }
        }

    }
    .card:hover{
        cursor: pointer;
    }

}